@font-face {
  font-family: futuraBTBK;
  src: url(./components/resources/Home/futura_bk_bt/FutuBk.ttf);
}
@font-face {
  font-family: futuraBTBKBold;
  src: url(./components/resources/Home/Futura_Bold/Futura\ Bold.otf);
}
*{
  transition: all 0.5s ease;
}
